{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<h1> Voici votre panier ! <h1>

{% if paniers is not empty %}
<h2> Vous avez {{ paniers|length }} produit(s) dans votre panier <h2>
<table border="1" class="table table-striped table-inverse"> 
        <thead>
                <tr>
                    <th>Nom</th>
                    <th>quantite</th>
                    <th>Ajouté le :</th>
                    <th>prix</th>
                    <th>Supprimer le produit</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for mon_panier in paniers %}
                <tr>
                    <td>{{ mon_panier.produitadd.nom }} </td>
                    <td>{{ mon_panier.quantite }}</td>
                    <td>{{ mon_panier.dateajout|date('d/m/Y à H:i:s') }}</td>

                    {% set total_prix = mon_panier.produitadd.prix * mon_panier.quantite %} <!-- Cumul (note * coeff) -->
                    <td>{{total_prix}} €</td>
                    <td><a href="{{ path('delete_panier', {'id': mon_panier.id }) }}">Supprimer</a></td>
                </tr>

                
                {% endfor %}
                </table>
                {% set totalpaniers = 0 %} <!-- Variable TWIG -->
                {% set totalquantite = 0 %}
                {% set total_prix = 0 %}
        {% for mon_panier in paniers %}  <!-- Parcours toutes les notes -->
        {% set total_prix = mon_panier.produitadd.prix * mon_panier.quantite * paniers|length %}
             <!-- Cumul (note * coeff) -->
            
        {% endfor %}

        <p> Le total de votre panier est {{ (total_prix )}} € </p>
        {% else %}
           <h4>Votre panier est vide ! </h4> <a href="/produit"> Voir les produits disponible !</a> 
           </br>
    {% endif %} 

    <h2>Ajouter un produit dans mon panier</h2>
	{{ form(form_panier) }}
{% endblock %}
